In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kamenka,RU,2021-01-27 16:07:24,51.3223,42.7678,34.00,95,100,3.00
1,1,Haines Junction,CA,2021-01-27 16:07:24,60.7522,-137.5108,-27.40,68,45,1.14
2,2,New Norfolk,AU,2021-01-27 16:07:25,-42.7826,147.0587,55.00,64,83,1.39
3,3,Lakes Entrance,AU,2021-01-27 16:07:25,-37.8811,147.9810,63.00,84,99,7.00
4,4,Kapaa,US,2021-01-27 16:07:25,22.0752,-159.3190,73.99,88,75,13.80

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Alvarado,MX,2021-01-27 16:05:01,18.7667,-95.7667,79.00,68,5,8.99
11,11,Bambous Virieux,MU,2021-01-27 16:07:26,-20.3428,57.7575,82.40,65,20,3.44
14,14,Catamarca,AR,2021-01-27 16:07:26,-28.4696,-65.7852,88.00,47,98,1.99
16,16,Rikitea,PF,2021-01-27 16:07:27,-23.1203,-134.9692,79.77,71,0,14.65
19,19,Georgetown,MY,2021-01-27 16:07:27,5.4112,100.3354,79.00,94,40,2.30
25,25,Chuy,UY,2021-01-27 16:07:28,-33.6971,-53.4616,81.43,58,100,2.21
35,35,Carnarvon,AU,2021-01-27 16:07:30,-24.8667,113.6333,75.20,83,0,23.02
36,36,Aitape,PG,2021-01-27 16:07:30,-3.1374,142.3475,78.10,86,100,5.48
37,37,Estrela,BR,2021-01-27 16:07:30,-28.0611,-50.9383,75.06,75,100,11.14
38,38,Kieta,PG,2021-01-27 16:07:30,-6.2167,155.6333,80.78,81,100,6.87

In [13]:
preferred_cities_df.count()

City_ID       155
City          155
Country       151
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [15]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       4
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [16]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Alvarado,MX,2021-01-27 16:05:01,18.7667,-95.7667,79.00,68,5,8.99
11,11,Bambous Virieux,MU,2021-01-27 16:07:26,-20.3428,57.7575,82.40,65,20,3.44
14,14,Catamarca,AR,2021-01-27 16:07:26,-28.4696,-65.7852,88.00,47,98,1.99
16,16,Rikitea,PF,2021-01-27 16:07:27,-23.1203,-134.9692,79.77,71,0,14.65
19,19,Georgetown,MY,2021-01-27 16:07:27,5.4112,100.3354,79.00,94,40,2.30
...,...,...,...,...,...,...,...,...,...,...
552,552,Kalmunai,LK,2021-01-27 16:08:57,7.4167,81.8167,76.33,77,100,11.32
556,556,Banda Aceh,ID,2021-01-27 16:08:31,5.5577,95.3222,78.89,81,100,4.14
563,563,Port-Gentil,GA,2021-01-27 16:08:59,-0.7193,8.7815,80.60,78,20,2.30
564,564,Beruwala,LK,2021-01-27 16:04:14,6.4788,79.9828,75.99,76,71,8.86
565,565,Boa Vista,BR,2021-01-27 16:04:04,2.8197,-60.6733,87.80,48,75,10.36

In [17]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       4
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
7          Alvarado      MX     79.00  18.7667  -95.7667
11  Bambous Virieux      MU     82.40 -20.3428   57.7575
14        Catamarca      AR     88.00 -28.4696  -65.7852
16          Rikitea      PF     79.77 -23.1203 -134.9692
19       Georgetown      MY     79.00   5.4112  100.3354
25             Chuy      UY     81.43 -33.6971  -53.4616
35        Carnarvon      AU     75.20 -24.8667  113.6333
36           Aitape      PG     78.10  -3.1374  142.3475
37          Estrela      BR     75.06 -28.0611  -50.9383
38            Kieta      PG     80.78  -6.2167  155.6333

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head(15)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Alvarado,MX,79.00,18.7667,-95.7667,Del Pastor
11,Bambous Virieux,MU,82.40,-20.3428,57.7575,Casa Tia Villa
14,Catamarca,AR,88.00,-28.4696,-65.7852,Amerian Catamarca Park Hotel
16,Rikitea,PF,79.77,-23.1203,-134.9692,Pension Maro'i
19,Georgetown,MY,79.00,5.4112,100.3354,Cititel Penang
25,Chuy,UY,81.43,-33.6971,-53.4616,Nuevo Hotel Plaza
35,Carnarvon,AU,75.20,-24.8667,113.6333,Hospitality Carnarvon
36,Aitape,PG,78.10,-3.1374,142.3475,
37,Estrela,BR,75.06,-28.0611,-50.9383,
38,Kieta,PG,80.78,-6.2167,155.6333,
44,Kidal,ML,86.99,18.4411,1.4078,
47,Luderitz,NaN,75.63,-26.6481,15.1594,LÜDERITZ NEST HOTEL
48,Saint-Georges,GD,84.20,12.0564,-61.7485,Siesta Hotel
50,Atuona,PF,77.95,-9.8000,-139.0333,Villa Enata
53,Bilma,NE,80.35,18.6853,12.9164,Expeditions Ténére voyages

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))