## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/Weather_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Arraial Do Cabo,BR,-22.9661,-42.0278,91.40,57,0,20.71,clear sky,2021-01-28 20:07:50
1,1,Krasnoselkup,RU,65.7000,82.4667,-32.85,80,100,14.83,overcast clouds,2021-01-28 20:13:52
2,2,Punta Arenas,CL,-53.1500,-70.9167,48.20,57,75,23.02,broken clouds,2021-01-28 20:07:58
3,3,Novyy Urengoy,RU,66.0833,76.6333,-32.08,83,100,11.21,overcast clouds,2021-01-28 20:10:53
4,4,Nevers,FR,46.9167,3.3333,53.60,94,75,12.66,broken clouds,2021-01-28 20:13:53

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Arraial Do Cabo,BR,-22.9661,-42.0278,91.40,57,0,20.71,clear sky,2021-01-28 20:07:50
6,6,Kavieng,PG,-2.5744,150.7967,82.83,76,59,9.37,broken clouds,2021-01-28 20:13:00
8,8,Kapaa,US,22.0752,-159.3190,75.20,78,75,17.27,broken clouds,2021-01-28 20:12:02
13,13,Hilo,US,19.7297,-155.0900,75.20,69,75,5.75,light rain,2021-01-28 20:12:14
14,14,Rikitea,PF,-23.1203,-134.9692,79.68,68,89,6.31,overcast clouds,2021-01-28 20:13:54
21,21,Cabatuan,PH,10.8794,122.4860,72.64,88,47,13.73,scattered clouds,2021-01-28 20:13:55
23,23,Calama,CL,-22.4667,-68.9333,75.20,13,0,23.02,clear sky,2021-01-28 20:13:56
24,24,Manggar,ID,-2.8833,108.2667,77.07,88,99,8.72,overcast clouds,2021-01-28 20:13:07
25,25,Umm Lajj,SA,25.0213,37.2685,70.59,59,44,7.43,scattered clouds,2021-01-28 20:13:56
27,27,Mar Del Plata,AR,-38.0023,-57.5575,82.40,44,75,8.05,broken clouds,2021-01-28 20:08:39

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure